.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar photos";
}
@media only screen and (width < 768px) {
  .container {
    grid-template-areas:
      "header"
      "sidebar"
      "photos";
  }
}

@media only screen and (width > 768px) {
  .container {
    grid-template-areas:
      "header header"
      "sidebar photos";
  }
}
